<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>吃吃燒烤</title>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css">
  <script src="https://kit.fontawesome.com/4f39c4000d.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/main.css">
</head>

<body>
  <section class="logo" id="logo">
    <a href="/" class="w-100 align-items-center"><img src="/imgs/logo.png" alt=""></a>
    <a href="/" class="fas fa-home"></a>
  </section>
  <!-- booking -->
  <section class="login">
    <div class="container text-center">
      <div class="login__title mb-4">
        <img src="/imgs/login.png" alt="">
      </div>
      <form method="POST" action="/login" class="text-left booking__form mt-5">
        <div class="form-row justify-content-center">
          <div class="form-group col-md-5 px-3 text-center">
            <label for="name">帳 號</label>
            <input type="text" name="username" class="form-control" id="name">
          </div>
        </div>
        <div class="form-row justify-content-center">
          <div class="form-group col-md-5 px-3 text-center">
            <label for="people">密 碼</label>
            <input type="text" name="password" class="form-control" id="people">
          </div>
        </div>
        <div class="err-message text-center red"><%= errorMessage %></div>
        <button type="submit" class="booking-btn mt-4">登 入</button>
      </form>
    </div>
  </section>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous">
  </script>
</body>

</html>